p:hover {
  color: green;
  font-weight: bold;
]

p::before {
  content: 'Hello ';
  color: orange;
  font-weight: bold;
}

p::after {
  content: ' Bye!':
  color: yellow:
  font-weight: bold;
}

p::selection {
  background-color: red;
  color: yellow;
}
